/* Banner */
#banner {
    color: #fff;
    padding: 1% 1%;
    background-color: #f8f9fa!important;
    text-align: center;
}

/* Content */
#content {
    margin-top: 10%;
}

.row {
    margin: 0 3% 0;
}

/* Footer */